/* Global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }
  
/* Header */
header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: darkgreen;
    color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
  }

/* Logo */
#logo {
    height: 80px;
    margin-right: 90px;
    margin-left: 65px;
    }
  
/* Navigation */
nav {
    position: fixed;
    background-color: #b6d6b3;
    padding: 10px;
    width: 250px;
    left: 0;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
  }
  
nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  
nav li {
    margin-bottom: 10px;
  }
  
nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
  }
  
nav a:hover {
    color: white;
  }
  
/* Main content */
main {
    display: flex;
  }

/* Report */
#report {
    /* display: block; */
    flex: 1;
    margin-left: 280px;
    margin-top: 100px;
  }

/* Green headings */
h2,h3,h4 {
    color: darkgreen;
  }

/* Section styles */
section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
/* Table styles */
table,td,th {
    border: 1px solid black;
}

tr {
    height: 50px;
}

#table--info {
    border-collapse: collapse;
    width: 1000px;
}

#table--scope th.column1 {
    width: 280px;
}

.column2 {
    padding-left: 20px;
    padding-right: 20px;
}

#table--scope th.column3 {
    width: 150px;
}

.text--center {
    text-align: center;
}

/* Meeting images*/
#meetings--img {
    display: flex;
    height: 500px;
}

#meetings--img img {
    border: 1px solid black;
    margin-right: 20px;
}

/* Back to top button */
#go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkgreen;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
  }
  
#go-to-top:hover {
    background-color: green;
  }

/* Figures */
.figure {
    max-width: 1000px;
    text-align: center;
}

.figure img {
    max-width: 1000px;
    border: 1px solid black;
}

/* Wrap references */
#references {
    word-break: break-all;
    white-space: normal;
}